@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");
.Login {
	background-image: url("../../assets/images/background-register.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	letter-spacing: 3px;
	font-family: "Montserrat";
	color: white;
}

.button {
	border-radius: 5px !important;
	background-color: #dc3545 !important;
	color: white !important;
	letter-spacing: 3px;
}

.loading {
	border-radius: 5px !important;
	background-color: #c4c4c4 !important;
	color: black !important;
	letter-spacing: 3px;
}
