@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

.title,
.lead {
	color: rgba(255, 255, 255, 0);
	transform: translateX(-50%);
	transition: all 0.2s;
}

.title {
	font-size: 5vw;
	letter-spacing: 3px;
	font-weight: bold;
}

.lead {
	font-size: 3vw;
	letter-spacing: 2px;
}

.jumbotronCustom {
	font-family: "Montserrat";
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(../../assets/images/background-1.jpg);
	background-size: cover;
	height: 100vh;
	text-align: center;
	padding-bottom: 0;
	margin-bottom: 0 !important;
	position: relative;
	z-index: 2;
}

.jumbotronCustom button a {
	color: white;
	font-weight: 700;
	font-family: "Montserrat";
	letter-spacing: 2px;
	text-decoration: none;
}

.jumbotronCustom::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	z-index: -10;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.034));
}

@media (min-width: 992px) {
	.jumbotronCustom {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: -90px;
		height: 100vh;
		background-image: url(../../assets/images/background-1.jpg);
		background-size: cover;
	}

	/* .jumbotronCustom::after {
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.034));
	} */

	.title {
		font-size: 4vw;
	}

	.lead {
		font-size: 2vw;
	}
}
