.avatar {
	width: 60px;
	height: 60px;
	background-color: #ffb548;
	border-radius: 50%;
	position: absolute;
}

.TestimonialCard {
	background: #1b1d1e;
	border-radius: 10px;
	padding: 10px;
	position: relative;
	max-width: 360px;
}
