.background-game {
	margin: 0% auto 0% 0%;
	background-image: url("../../assets/images/background-game.jpg");
	width: 100%;
	height: 90vh;
	padding-left: 0px;
	padding-top: 10px;
	color: white;
}

.backrps {
	display: flex;
	align-items: center;
}

.judulrps {
	display: flex;
	text-align: left;
	color: #f9b23d;
	align-items: center;
}

.imgpaper {
	height: 10px;
}
